body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #F1F5F8;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
}

.avatar {
    width: 176px;
    display: block;
    border-radius: 50%;
}

.social-icons {
    display: block;
}

.social-icons ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-icons img {
    width: 40px;
    margin: 16px;
}


