body {
    margin: 0;
    background: #F1F5F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin-top: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
}

.avatar {
    width: 176px;
    display: block;
    border-radius: 50%;
}

.card-text {
    text-align: center;
    max-width: 280px;
    margin-top: 8px;
}

h1, h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Condensed', Sans-Serif; 
}

h1 {
    font-size: 32px; 
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    font-size: 24px;
}

p, .message-me {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
}

p {
    line-height: 1.5rem;
    margin-bottom: 0;
}

.message-me {
    text-decoration: none;
    padding: 8px 16px;
    margin: 40px 0;
    background: #45425A;
    color: white;

}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
 
}

.social-icons ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-icons img {
    width: 32px;
    margin: 0 16px;
    padding: 0;
}

.breadcrumbs {
    font-family: 'Cabin', sans-serif;
    width: 100%;
    text-align: center;
    margin-top: 120px;
}

.breadcrumbs a {
    padding: 16px 8px;
    text-decoration: none;
}

/* REPONSIVE STYLES FOR LARGER SCREENS */

@media only screen and (min-width: 769px) {
    
.card {
    flex-direction: row;
    height: 360px;
    max-width: 700px;
    border: 1px solid black;
}

.avatar-container {
    border: 2px solid red;
    height: 100%;
    width: 233px;
}

.avatar {
    height: 100%;
    width: auto;
    border-radius: 0;

}






}
